@model IEnumerable<CuaHangXeMay_Web.Models.DanhMucSanPham>
@if (Model != null && Model.Any())
{
   <div class="row">
            <div class="col text-center">
                <div class="section_title new_arrivals_title">
                    <h2>Điểm Thu Hút</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col text-center">
                <div class="new_arrivals_sorting">
                    <ul class="arrivals_grid_sorting clearfix button-group filters-button-group">
                        @foreach(var item in Model)
                        { 
                        <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked" data-filter=".@item.Id">@item.Tieude</li>
                        }
                   
                    </ul>
                </div>
            </div>
        </div>
       
}<div class="row">
    <div class="col">
        <div class="product-grid" data-isotope="{ &quot;itemSelector&quot;: &quot;.product-item&quot;, &quot;layoutMode&quot;: &quot;fitRows&quot; }" style="position: relative; height: 1080px;">
            @Html.Action("Partial_Item", "Products")

        </div>
    </div>
</div>


